{
    "useTabs": false,
    "singleQuote": false,
    "tabWidth": 4,
    "arrowParens": "always",
    "trailingComma": "es5",
    "printWidth": 132,
    "plugins": ["prettier-plugin-svelte"],
    "semi": true,
    "svelteSortOrder": "scripts-options-markup-styles",
    "pluginSearchDirs": ["."],
    "overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
