$background: rgba(34, 34, 34, 0.98);

@use "@material/theme/index" as theme with (
  $primary: #a00,
  $secondary: #ccc,
  $surface: #222,
  $background: $background,
  $error: #f00
);
@use "@smui-extra/accordion/style" as accordion;

a,
a:hover,
a:focus,
a:visited {
    color: theme.$primary;
}

.points {
    color: theme.$primary;
    background-color: #100;
    font-weight: bold;
}

.section-body {
    color: if(theme.contrast-tone($background) == "dark", #222, whitesmoke);
    background-color: $background;
    border-radius: 0 0 6px 6px;
}

blockquote {
    border-left: 5px solid theme.$primary;
}
