@use 'sass:math';

@function px-to-rem($px) {
    @if $px == null {
        @return null;
    }
    @return math.div($px, 16px) * 1rem;
}

@function get-letter-spacing_($tracking, $font-size) {
    @return math.div($tracking, $font-size * 16) * 1em;
}

@mixin headliner($height: 0px, $tracking: 0, $font-size: 0) {
    font-size: px-to-rem($height);
    padding-bottom: 2%;
    letter-spacing: math.div($tracking, $font-size * 16) * 1em;
    text-decoration: inherit;
    text-transform: inherit;
    font-family: "Roboto Condensed";
    font-weight: lighter;
    margin: 0;
}

html,
body {
    height: 100%;
    margin: 0;
    font-family: "Roboto", sans-serif !important;
    background: url(/images/background.jpg) no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: $background;
    color: whitesmoke;
}

h1 {
    @include headliner($height: 75px, $tracking: -1.5, $font-size: 6);
}
h2 {
    @include headliner($height: 62px, $tracking: -0.5, $font-size: 3.75);
}
h3 {
    @include headliner($height: 50px, $tracking: -1.5, $font-size: 6);
}
h4 {
    @include headliner($height: 38px, $tracking: -1.5, $font-size: 6);
}
h5 {
    @include headliner($height: 28px, $tracking: -1.5, $font-size: 6);
}

.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}

table,
.table {
    border-width: 0;
    width: 100%;
    border-collapse: collapse;
}
.table thead tr,
.text-muted {
    color: #aaa;
}
.table th {
    font-weight: normal;
}

.team-highlight {
    font-weight: bold;
    text-decoration: underline dotted;
}

@media (max-width: 464px) {
    html,
    body {
        font-size: small;
    }
    .smui-paper {
        padding: 12px 8px;
    }
    .table > tbody > tr > td,
    .table > thead > tr > th {
        padding: 3px 6px;
        line-height: 1.4;
    }
}

@media (min-width: 394px) {
    .table > tbody > tr > td,
    .table > thead > tr > th {
        padding: 5px 10px;
        line-height: 1.4;
    }
    .smui-paper {
        padding: 24px 16px;
    }
}

@media (min-width: 839px) {
    .table > tbody > tr > td,
    .table > thead > tr > th {
        padding: 8px 12px;
        line-height: 1.4;
    }
}

@media print {
    .no-print {
        display: none;
    }
    .table {
        page-break-after: always;
        page-break-inside: avoid;
    }
    body {
        padding-top: 0px; /* from 80 */
    }
}
